html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: gray;
  background: radial-gradient(at center, #3498db 5%, #9b59b6 30%);
}
